# World-writeable permissions and a symlink for the Jackal MCU.
SUBSYSTEM=="tty", ATTRS{idProduct}=="5740", ATTRS{idVendor}=="0483", MODE="0666", SYMLINK="jackal"